<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <style>
        /* ng-dirty quand le formulaire est modifié */
        form.ng-dirty {
            background-color: lightsalmon;
        }
        /* ng-dirty quand le formulaire n'a pas encore été modifié */
        form.ng-pristine {
            background-color: lightgrey;
        }

        input.ng-valid {
            border-color: lightgreen;
        }
        input.ng-invalid {
            border-color: lightcoral;
        }

        .has-error {
            background: red;
        }

    </style>

</head>
<body ng-app="app"  ng-controller="MyCtrl">



    <form name="userForm" role="form">
        <div class="form-group" ng-class="{ 'has-error': userForm.$invalid }">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" ng-minlength="3" ng-maxlength="10" class="form-control" ng-model="user.username" />
            <p class="help-block" ng-show="userForm.username.$error.maxlength">
                Username cannot be greater than 10 characters.
            </p>
            <p class="help-block" ng-show="userForm.username.$error.minlength">
                Username cannot be less than 3 characters.
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid }">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required class="form-control" placeholder="Enter your email address." ng-model="user.email" />
            <p class="help-block" ng-show="userForm.email.$error.required">
                Email is Required.
            </p>
            <p class="help-block" ng-show="userForm.email.$error.email">
                Email is invalid.
            </p>
        </div>
        <div class="form-group">
            <button type="button" class="btn">Cancel</button>
            <button type="submit" class="btn" ng-disabled="!userForm.$dirty || userForm.$invalid" ng-click="save()">
                Save
            </button>
        </div>
    </form>





<script src="bower_components/angular/angular.js"></script>
<script>

    (function (){

        var app = angular.module("app", []);
        app.controller('MyCtrl', MyCtrl);
        function  MyCtrl($scope) {
            $scope.user = {
                username : '',
                email: "some-address@gmail.com"
            };

            $scope.save = function () {

            };
        }
        MyCtrl.$inject = ['$scope'];

    })();

</script>
</body>
</html>